torch==2.7.0+cu128
git+https://github.com/huggingface/transformers
tokenizers
datasets
jiwer
python-Levenshtein
pillow
pypdfium2
bitsandbytes
peft
accelerate
huggingface_hub
python-dotenv
supabase
tqdm
scikit-learn
sentencepiece
tiktoken
pillow-avif-plugin
