.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  
  scroll-behavior: smooth;
}

.mainContent::-webkit-scrollbar {
  width: 8px;
}
.mainContent::-webkit-scrollbar-track {
  background: transparent;
}
.mainContent::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
  border-radius: 4px;
}